/* this .left .right .clear sets up the page columns 
 this style sets left and right column edges # works once . works on multiple items-->*/
.left
{width: 33%;   /*orig positioning */
float: left;    /*orig positioning */
}

.right
{margin-left: 33%; /* orig positioning Change this to the width of left column */
}

.clear
{clear: both;
}
/*........*/
 /* fcfff5 d1dbbd 91aa9d 3e606f 193441 neutral blue palette*/ 

body {  
background: #fffdde;
}
canvas {
background: #d1dbbd; 
border: 1px solid black;
margin-right: 1.5em;
}
input {
 background: #91aa9d; 
 font-weight: 600;   
}
h1 {
/*font-family: verdana, arial, sans-serif;*/
font-family: serif;
}
#nav {
background-color: #91aa9d; 
color: #193441;
height: 2em;
width: 95%;
/*margin-left: -4em;*/
margin-top: 0.5em;
padding-top: 0.5em;
}
#home {
float: left;
background-color: #3e606f; 
color: #fcfff5;
height: 1.5em;
width: 4%;
margin-left: 2em;
padding-left: 1em;
}
#statistics {
float: left;
background-color: #3e606f; 
color: #fcfff5;
height: 1.5em;
width: 8%;
margin-left: 4em;
padding-left: 1em;
}
#pUniv {
float: left;
background-color: #3e606f; 
color: #193441;
height: 1.5em;
width: 15%;
margin-left: 4em;
padding-left: 2em;
}
#theName {
    font-family: verdana, arial, sans-serif;
    font-weight: bold;
    font-size: 10em;
    color: #666;
}
#arrowRight { 
    position: fixed;
    top: 560px;
    right: 1150px;
    width: 0; 
    height: 0; 
    border-top: 35px solid transparent; 
    border-left: 160px solid #888; 
    border-bottom: 35px solid transparent; 
}
 #arrowDown { 
    position: fixed;
    top: 350px;
    right: 810px;
    width: 0; 
    height: 0; 
    border-left: 35px solid transparent; 
    border-right: 35px solid transparent; 
    border-top: 140px solid #777; 
}
#artext {
    position: relative;
    width: 10em;
    right: 9em;
    top: -1.75em;
}
#adtext {
    position: relative;
    width: 2em;
    right: 1.3em;
    top: -9.5em;
}


        
