body {
	font-size: 18px;
  	font-family: 'Open Sans', sans-serif;
  	text-align: center;
}

#container {
	margin: 0 auto;
	width: 96%;
	background-color: #ffffff;
	padding:0.75% 2% 2%;
}
#wrapper {
	background: url("file://C:/Users/Matt/GA/proj/images/Jellyfish.jpg");
    background-size: cover;
    background-position: center;
    padding: 1em 1em;
    margin: 0 0 1em;
    /*height: 200px;*/
}

header {
	background-color: #fffa06;
	width: 95%;
	margin: 1em auto 0;
	font-size: 1.618em;
}

header h1, h2 { 
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
  	font-weight: 800; 
  	padding: 0.5em;
  	text-align: center;
}

.navplus {
	border: 3px solid #555;
	background-color: #fffa06;
	/*background: #555; Matt likes this color better*/
	padding: 0.5em 0;
	margin: 0 0 1em;
	text-align: left;
}

img {
	display: inline-block;
	width:4em;
	height: 3em;
	border: 3px solid #555;
	background: #fff;
	margin: 0 3em 0.4em 1em;
}

nav {
	display: inline-block;
	background: #000;
	margin: 0.5em 0 0.5em;
}

nav a {
	display: block;
	float: left;
	padding: 1em 0.5em;
	margin-top: 0.25em;
	color: #fffa06;
	text-decoration: none;
	border-right: 1px solid #fff;
}

nav a:hover { 
  background-color: #338833; 
}

p {
	 text-align: left;
}
.column {
	float: left;
	width: 26em;
  	height: 24em;
	padding: 1em;
	margin: 1em 1em;
	font-family: "times", "courier", "arial", Georgia, Serif;
}

#column1 {
  background-color: #fff;
  margin-left: 15%;
}

#column2 {
  background-color: #fff;
  float: right;
  margin-right: 15%;
}

#basetext {
	background-color: #fff;
	width: 95%;
	height: 3em;
	margin: 0.5em auto 1em;
}

footer {
	background-color: #fffa06;
	border: 3px solid #555;
	/*background-color: #cccccc; Matt likes this or slightly darker gray better*/
	text-align: right;
	padding: 1.618em;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/*..............................................................................*/
.sercolumn {
	float: left;
	padding: 1em;
	margin: 1em 1em;
}

#sercolumn1 {
  margin-left: 15%;
}

#sercolumn2 {
 	float: right;
	width: 26em;
  	height: 30em;
  	margin-right: 15%;
	padding: 1em 0 1em 1em;
  
}

.pics {
	position: relative;
	width: 90%;
	margin 0 auto;
}

.pics img {
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 0;
	width: 26em;
  	height: 30em;
}

ul a{
	text-decoration: none;
	display: block;
	background: #7f7f73;
	color: white;
	border: 3px solid #555;
	width: 30em;
	height: 2em;
	padding: 0.25em;
	margin: 1em;
}
/*...............................................................................*/
#whocolumn1 {
	padding: 1em;
	margin: 1em 1em;

}

.whocolumn ul a {
	display: inline-block;
	border: 3px solid #555;
	width: 10em;
	height: 15em;
	padding: 0.25em;
	margin: 14em 4em 1em 0em;
	color: black;
}

.whocolumn ul a img {
	width: 10em;
	height: 15em;
	padding: 0em;
	margin: 0em;
}

#pwrap {
	position: relative;
	width: 90%;
	margin 0 auto;
}

header p {
	visibility: hidden;	
	position: absolute;
	left: 0;
	top: 0;
	margin: 1em 0;
	font-family: "helvitica", Serif;
}

/*...............................................................................*/

#conwrapper header {
	background: white;
	border: 3px solid #555;
	position: relative;
	width: 60%;
	padding: 1em;
	margin 0 auto;
}

#conwrapper header p {
	visibility: visible;
	position: relative;
	width: 90%;
	margin 0 auto;
	background: white;
	color: black;	
	font-family: "helvitica", Serif;
}

#lastfoot {
	margin: 3em 0 0;
}
